- id: turn_off_office
  alias: Turn Off the Office at Night
  trigger:
  - at: '20:00:00'
    platform: time
  action:
  - service: script.shut_down_office
  mode: single
- id: turn_on_office_receiver_for_sonos
  alias: Turn on Office Receiver for Sonos
  triggers:
  - entity_id: media_player.office_sonos
    to: playing
    trigger: state
  conditions: []
  actions:
  - action: denonavr.get_command
    metadata: {}
    data:
      command: /goform/formiPhoneAppDirect.xml?MSQUICK3
    target:
      entity_id: media_player.denon_office
  mode: single
- id: turn_on_family_room_receiver_for_sonos
  alias: Turn on Family Room Receiver for Sonos
  triggers:
  - entity_id: media_player.family_room
    to: playing
    trigger: state
  conditions:
  - condition: or
    conditions:
    - condition: state
      entity_id: media_player.home_theater
      state: 'off'
    - condition: not
      conditions:
      - condition: state
        entity_id: media_player.home_theater
        attribute: source
        state: Sonos
  actions:
  - action: script.home_theater_denon_qs_sonos
    metadata: {}
    data: {}
  mode: single
- id: accent_lighting_on_sunset
  alias: Turn On Accent Lighting at 4pm
  triggers:
  - at: '16:00:00'
    trigger: time
  - event_data:
      entity_id: zwave.kitchen_light
      scene_data: 4
      scene_id: 1
    event_type: zwave.scene_activated
    trigger: event
  - at: '16:05:00'
    trigger: time
  conditions:
  - condition: template
    value_template: '{{ now().strftime(''%m-%d'') != "10-31" }}'
  actions:
  - data:
      entity_id: light.accent_lighting
    action: homeassistant.turn_on
  mode: single
- id: jamie_bedtime_music
  alias: Start Jamies Bedtime Music
  trigger:
  - at: '22:00:00'
    platform: time
  condition: []
  action:
  - service: script.jamie_bedtime_music
  mode: single
- id: landscape_lighting_on
  alias: Turn On Landscape Lighting at sunset
  triggers:
  - event: sunset
    trigger: sun
  conditions:
  - condition: template
    value_template: '{{ now().strftime(''%m-%d'') != "10-31" }}'
  actions:
  - data:
      entity_id: switch.landscape_lights
    action: homeassistant.turn_on
  mode: single
- id: landscape_lighting_off
  alias: Turn Off Landscape Lighting at midnight
  trigger:
  - at: '23:59:59'
    platform: time
  - platform: time
    at: '23:55:00'
  condition: []
  action:
  - data:
      entity_id: switch.landscape_lights
    service: homeassistant.turn_off
  mode: single
- id: cabinet_lighting_on_switch
  alias: Turn On Cabinet Lighting
  trigger:
  - event_data:
      entity_id: zwave.kitchen_light
      scene_data: 3
      scene_id: 1
    event_type: zwave.scene_activated
    platform: event
  action:
  - data:
      entity_id: switch.cabinet_lighting
    service: homeassistant.turn_on
- id: cabinet_lighting_off_switch
  alias: Turn Off Cabinet Lighting
  trigger:
    platform: event
    event_type: zwave.scene_activated
    event_data:
      entity_id: zwave.kitchen_light
      scene_id: 3
      scene_data: 2
  action:
  - data:
      entity_id: switch.cabinet_lighting
    service: homeassistant.turn_off
- id: foyer_light_on
  alias: Foyer Light On
  triggers:
  - event: sunset
    offset: -00:30:00
    trigger: sun
  - at: '17:00:00'
    trigger: time
  - at: 06:15:00
    trigger: time
  conditions:
  - condition: template
    value_template: '{{ now().strftime(''%m-%d'') != "10-31" }}'
  actions:
  - data:
      entity_id: switch.foyer_outlet_js_switch
    action: switch.turn_on
- id: foyer_light_off
  alias: Foyer Light Off
  triggers:
  - at: '22:30:00'
    trigger: time
  - event: sunrise
    trigger: sun
    offset: 01:00:00
  conditions: []
  actions:
  - data: {}
    target:
      entity_id: switch.foyer_outlet_js_switch
    action: switch.turn_off
- id: turn_off_accent_lights_at_bedtime
  alias: Turn off accent lighting at bedtime
  triggers:
  - at: '22:15:00'
    trigger: time
  - event_data:
      entity_id: zwave.kitchen_light
      scene_data: 4
      scene_id: 2
    event_type: zwave.scene_activated
    trigger: event
  - at: '22:20:00'
    trigger: time
  conditions: []
  actions:
  - data:
      entity_id: light.accent_lighting
    action: homeassistant.turn_off
  - target:
      entity_id: fan.patio_ceiling_fan
    action: fan.turn_off
    data: {}
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: switch.by_locker_room
  mode: single
- id: holiday_lights_on
  alias: Holiday - Turn On Holiday Lights around sunset
  trigger:
  - platform: time
    at: '16:00:00'
  action:
  - service: homeassistant.turn_on
    entity_id: switch.holiday_lights
- id: holiday_lights_off
  alias: Holiday - Turn Off Holiday Lights
  trigger:
    platform: time
    at: '22:14:00'
  action:
  - service: homeassistant.turn_off
    entity_id: switch.holiday_lights
- id: holiday_candles_on
  alias: Holiday - Turn On Holiday Candles around sunset
  trigger:
    platform: time
    at: '16:00:30'
  action:
  - service: homeassistant.turn_on
    entity_id: switch.holiday_candles
- id: holiday_candles_off
  alias: ' Holiday - Turn Off Holiday Candles'
  description: ''
  trigger:
  - platform: time
    at: '22:10:00'
  action:
  - service: homeassistant.turn_off
    entity_id: switch.holiday_candles
- id: holiday_other_on
  alias: Holiday - Turn On Holiday Other around sunset
  trigger:
    platform: time
    at: '16:01:00'
  action:
  - service: homeassistant.turn_on
    entity_id: switch.holiday_other
- id: holiday_other_off
  alias: Holiday - Turn Off Holiday other
  trigger:
  - platform: time
    at: '22:11:00'
  action:
  - service: homeassistant.turn_off
    entity_id: switch.holiday_other
  mode: single
- id: '1637446244454'
  alias: Turn on Espresso Machine in the morning
  description: ''
  trigger:
  - platform: time
    at: 06:00:00
  - platform: time
    at: 06:01:00
  condition: []
  action:
  - type: turn_on
    device_id: cb3681f41d15a9b766d7d961e2c559f7
    entity_id: switch.espresso_machine_js_switch
    domain: switch
  mode: single
- id: '1637446290014'
  alias: Turn off Espresso Machine daily
  description: ''
  trigger:
  - platform: time
    at: '13:00:00'
  condition: []
  action:
  - type: turn_off
    device_id: cb3681f41d15a9b766d7d961e2c559f7
    entity_id: switch.espresso_machine_js_switch
    domain: switch
  mode: single
- id: '1642711242692'
  alias: 'SAY: Can I get you something'
  description: ''
  trigger:
  - platform: event
    event_type: zwave.scene_activated
    event_data:
      entity_id: zwave.kitchenquad4
      scene_data: 0
      scene_id: 3
  - platform: event
    event_type: zwave.scene_activated
    event_data:
      entity_id: zwave.coffeequad
      scene_data: 0
      scene_id: 3
  condition: []
  action:
  - service: mqtt.publish
    data:
      topic: say/amy
      payload: Can I get you something?
  mode: single
- id: '1642711362497'
  alias: 'SAY: What can I get you?'
  description: ''
  trigger:
  - platform: event
    event_type: zwave.scene_activated
    event_data:
      entity_id: zwave.kitchenquad4
      scene_data: 0
      scene_id: 4
  - platform: event
    event_type: zwave.scene_activated
    event_data:
      entity_id: zwave.coffeequad
      scene_data: 0
      scene_id: 4
  condition: []
  action:
  - service: mqtt.publish
    data:
      topic: say/amy
      payload: What can I get you?
  mode: single
- id: '1647974538516'
  alias: Coffee Maker Light on in the morning
  description: ''
  trigger:
  - platform: time
    at: 06:20:00
  - platform: time
    at: 06:55:00
  condition: []
  action:
  - service: switch.turn_on
    target:
      entity_id: switch.short_cabinets_lower_js_switch
    data: {}
  mode: single
- id: '1655477751246'
  alias: Coffee Maker Light Toggle
  description: ''
  trigger:
  - platform: event
    event_type: zwave.scene_activated
    event_data:
      entity_id: zwave.coffeequad
      scene_data: 0
      scene_id: 1
  condition: []
  action:
  - service: switch.toggle
    target:
      entity_id: switch.short_cabinets_lower_js_switch
  mode: single
- id: '1655585778504'
  alias: 'SAY: Holy Fishpaste'
  description: ''
  trigger:
  - platform: event
    event_type: zwave.scene_activated
    event_data:
      entity_id: zwave.coffeequad
      scene_data: 0
      scene_id: 2
  condition: []
  action:
  - service: mqtt.publish
    data:
      topic: say/amy
      payload: Holy fishpaste, thats a guy
  mode: single
- id: '1658435235779'
  alias: Turn on Office Receiver for Office Roon
  description: ''
  triggers:
  - entity_id: media_player.office_roon
    to: playing
    trigger: state
  conditions: []
  actions:
  - action: denonavr.get_command
    metadata: {}
    data:
      command: /goform/formiPhoneAppDirect.xml?MSQUICK5
    target:
      entity_id: media_player.denon_office
  mode: single
- id: '1659105207295'
  alias: Turn on Family Room Receiver for Theater Roon
  description: ''
  triggers:
  - entity_id: media_player.theater_roon
    to: playing
    trigger: state
  conditions: []
  actions:
  - action: script.home_theater_denon_input_roon
    metadata: {}
    data: {}
  - data:
      volume_level: 0.55
    action: media_player.volume_set
    target:
      entity_id: media_player.home_theater
  mode: single
- id: '1696550493840'
  alias: Liquor Cabinet Quad Blueprints
  description: Actions for liquor cabinet quadmote
  use_blueprint:
    path: homeassistant/aeonquad.yaml
    input:
      wallmote_quad_device: 7e8265b52de7657966751961f7cd1bf9
      button_1_pressed:
      - data: {}
        service: switch.turn_on
        target:
          entity_id: switch.liquor_cabinet_js_switch
      button_2_pressed:
      - data: {}
        service: switch.turn_off
        target:
          entity_id: switch.liquor_cabinet_js_switch
      button_3_pressed:
      - service: mqtt.publish
        data:
          topic: say/amy
          payload: Can I get you something?
      button_4_pressed:
      - service: mqtt.publish
        data:
          topic: say/amy
          payload: What can I get you?
- id: '1696553978548'
  alias: Garage Quad Blueprints
  description: ''
  use_blueprint:
    path: homeassistant/aeonquad.yaml
    input:
      wallmote_quad_device: 0a5f428d6a8750682e0a17e64b36b0a8
      button_1_pressed:
      - service: fan.turn_off
        target:
          entity_id: fan.dc
        data: {}
      button_2_pressed:
      - service: fan.turn_on
        target:
          entity_id: fan.dc
        data: {}
      button_3_pressed:
      - service: switch.turn_on
        data: {}
        target:
          entity_id: switch.garage_wall_fan_js_switch
      button_4_pressed:
      - service: switch.turn_on
        data: {}
        target:
          entity_id: switch.garage_portable_fan_js_switch
- id: '1696618784950'
  alias: Quad - Guest room
  description: ''
  use_blueprint:
    path: homeassistant/aeonquad.yaml
    input:
      wallmote_quad_device: 91fed6b62a47687466d900539d6f3e80
      button_1_pressed:
      - service: media_player.media_play_pause
        data: {}
        target:
          device_id: c435be0a63b95310c3a8fd4f1d65e43d
      button_2_pressed:
      - service: media_player.select_source
        data:
          source: 30 - Dave Matthews Band Radio
        target:
          device_id: 914aa14cc2c641d5a4e0e8716cba319f
      button_3_pressed:
      - service: media_player.select_source
        data:
          source: 74 - B.B. King's Bluesville
        target:
          device_id: 914aa14cc2c641d5a4e0e8716cba319f
      button_4_pressed:
      - service: media_player.select_source
        data:
          source: 23 - Grateful Dead
- id: '1700784168766'
  alias: 'Holiday: Turn on holiday shrubs at 4pm'
  description: ''
  trigger:
  - platform: time
    at: '16:00:00'
  condition: []
  action:
  - service: homeassistant.turn_on
    entity_id: switch.holiday_lights_shrubs
  mode: single
- id: '1700784322150'
  alias: Holiday - Turn off shrubs
  description: ''
  trigger:
  - platform: time
    at: '22:30:00'
  condition: []
  action:
  - service: homeassistant.turn_off
    entity_id: switch.holiday_lights_shrubs
  mode: single
- id: '1705927769322'
  alias: Turn off the patio Fan/Heater at night
  description: Just in case
  trigger:
  - platform: time
    at: '20:00:00'
  condition: []
  action:
  - service: switch.turn_off
    target:
      entity_id: switch.patio_temp_fan_js_switch
    data: {}
  mode: single
- id: '1720634728792'
  alias: Turn on Family Room TV with WoL
  description: ''
  trigger:
  - platform: device
    device_id: 63243550b4f6a061c4ab1b9f888c6574
    domain: webostv
    type: webostv.turn_on
  condition: []
  action:
  - service: wake_on_lan.send_magic_packet
    data:
      broadcast_port: 9
      mac: 58:FD:B1:55:49:A8
  mode: single
- id: '1727985302857'
  alias: Office S2 Remote
  description: ''
  use_blueprint:
    path: homeassistant/minoston_s2.yaml
    input:
      minoston_s2_device: 905bb3588c56246f48dc43704667edd8
      button_1_pressed:
      - target:
          entity_id: switch.office_ceiling_fan_light
        data: {}
        action: switch.turn_on
      button_2_pressed:
      - target:
          entity_id: switch.office_ceiling_fan_light
        data: {}
        action: switch.turn_off
      button_3_pressed:
      - action: script.shut_down_office
        metadata: {}
        data: {}
      button_4_pressed:
      - metadata: {}
        data:
          num_repeats: 1
          delay_secs: 0.4
          hold_secs: 0
          device: office_fan
          command: fan_speed_3
        target:
          device_id: 4928730243bc7b4ff9dc433e68348526
        action: remote.send_command
      button_4_pressed_2x:
      - metadata: {}
        data:
          num_repeats: 1
          delay_secs: 0.4
          hold_secs: 0
          device: office_fan
          command: fan_speed_5
        target:
          device_id: 4928730243bc7b4ff9dc433e68348526
        action: remote.send_command
      button_4_pressed_3x:
      - action: script.turn_off_accent_lighting
        metadata: {}
        data: {}
      button_3_pressed_2x:
      - metadata: {}
        data:
          num_repeats: 1
          delay_secs: 0.4
          hold_secs: 0
          device: office_fan
          command: fan_off
        target:
          entity_id: remote.office_hub_pro
        action: remote.send_command
      button_3_pressed_3x: []
      button_1_pressed_2x:
      - action: switch.turn_on
        metadata: {}
        data: {}
        target:
          entity_id: switch.office_ceiling_fan_light
      - action: remote.send_command
        metadata: {}
        data:
          num_repeats: 1
          delay_secs: 0.4
          hold_secs: 0
          device: office_fan
          command: fan_speed_4
        target:
          entity_id: remote.office_hub_pro
        enabled: false
      - action: light.turn_on
        metadata: {}
        data:
          brightness_pct: 100
        target:
          entity_id: light.hue_lightstrip_plus_1
      button_2_pressed_2x:
      - metadata: {}
        data: {}
        action: script.shut_down_office
      button_2_pressed_3x:
      - action: light.turn_on
        metadata: {}
        data: {}
        target:
          entity_id: light.hue_lightstrip_plus_1
      button_1_pressed_3x: []
- id: '1731246564466'
  alias: Turn on patio lights with fan or heater
  description: ''
  trigger:
  - platform: state
    entity_id:
    - switch.patio_temp_fan_js_switch
    from: 'off'
    to: 'on'
  condition: []
  action:
  - service: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.patio_party_lights_js_switch
  mode: single
- id: '1734365167239'
  alias: Turn on porch lights with music
  description: ''
  trigger:
  - entity_id:
    - media_player.patio
    platform: state
    to: playing
  condition: []
  action:
  - service: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.patio_party_lights_js_switch
  mode: single
- id: '1738339957486'
  alias: Jamie's Bed TV Position
  description: ''
  triggers:
  - at: '21:00:00'
    trigger: time
  conditions: []
  actions:
  - metadata: {}
    data:
      value: '60'
    target:
      entity_id: number.jamies_bed_head_position
    action: number.set_value
  mode: single
- id: '1738535171777'
  alias: Guest Room S2
  description: ''
  use_blueprint:
    path: homeassistant/zooz_s2.yaml
    input:
      minoston_s2_device: 65308885ff3854d359f04759e4cd5311
      button_1_pressed:
      - metadata: {}
        data:
          value: '16'
        target:
          entity_id: number.jamies_bed_head_position
        action: number.set_value
      button_1_pressed_2x:
      - metadata: {}
        data:
          value: '65'
        target:
          entity_id: number.jamies_bed_head_position
        action: number.set_value
      button_2_pressed:
      - metadata: {}
        data:
          value: '0'
        target:
          entity_id: number.jamies_bed_head_position
        action: number.set_value
      button_3_pressed:
      - metadata: {}
        data:
          source: 30 - Dave Matthews Band Radio
        target:
          entity_id: media_player.guest_room
        action: media_player.select_source
      button_4_pressed:
      - metadata: {}
        data:
          source: 20 - E Street Radio
        target:
          entity_id: media_player.guest_room
        action: media_player.select_source
      button_2_pressed_2x:
      - action: script.turn_off_accent_lighting
        metadata: {}
        data: {}
      - action: switch.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: switch.foyer_outlet_js_switch
      button_3_pressed_2x:
      - action: script.guest_room_avr_input_appletv
        metadata: {}
        data: {}
      button_4_pressed_2x:
      - action: script.guest_room_avr_input_xbox
        metadata: {}
        data: {}
- id: '1767017835988'
  alias: Upstairs Hallway S2
  description: ''
  use_blueprint:
    path: homeassistant/minoston_s2.yaml
    input:
      minoston_s2_device: cc7aed559c77b454abbe4a4c30f48974
      button_1_pressed:
      - action: switch.turn_on
        metadata: {}
        data: {}
        target:
          entity_id: switch.foyer_outlet_js_switch
      button_2_pressed:
      - action: switch.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: switch.foyer_outlet_js_switch
      button_1_pressed_2x:
      - action: script.turn_on_accent_lighting
        metadata: {}
        data: {}
      button_3_pressed:
      - action: script.turn_off_accent_lighting
        metadata: {}
        data: {}
